table {
    width: 100%;
}

.navigation {
    text-align: center;
    background-color: #99CCFF;
}

.status {
    background-color: #CCFFFF
}

.position {
    background-color: #33CCCC;
}

#logo {
    float: left;
    width: 30%;
}

#navigation {
    background-color: #99CCFF;
    height: 30%;
}

#status {
    background-color: #CCFFFF;
    height: 30px;
}

#position {
    background-color: #33CCCC
}
